
.books {
    font-style:italic;
}
.Characters{
    font-weight:bold;
}
.links{
    font-weight:bold;
}
a:not(.top_list) {
    color:blue;
}
#top_bar{
    background:black;
    padding: 5px;
    font-size:20px;
    text-transform:uppercase;
    text-align:center;
}
.top_list{
    display:inline-block;
    margin-left:21px;
    margin-left:21px;
    color:white;
    text-decoration: none;
}
#headers {
    font-weight:bold;
}
.top_list:hover{
    font-size:25;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }