
.books {
    font-style:italic;
}
.Characters{
    font-weight:bold;
}
.links{
    font-weight:bold;
}
a {
    color:blue;
}
#top_bar{
    background:black;
    padding: 5px;
    font-size:12px;
    text-transform:uppercase;
}
.top_list{
    display:inline-block;
}
#headers {
    font-weight:bold;
}
p:hover{
    font-size:25;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }